/* Estilo base para la aplicación */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.App-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para enlaces activos */
.active-link {
    color: #3498db; /* O cualquier color que prefieras para destacar el enlace activo */
    font-weight: bold;
}

/* Estilo para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}