/* Layout */
.feedback-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Typography */
h2 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #333;
}

.message {
    margin-top: 10px;
}

.message.error {
    color: red; /* Color para mensajes de error */
}

.message.success {
    color: green;
}

.message.info {
    color: #007BFF;
}

.feedback-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Inputs & Textareas */
textarea, input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

textarea:hover, input:hover {
    background-color: #f0f0f0;
}

textarea:focus, input:focus {
    border-color: #007BFF;
    background-color: #eef5ff;
    outline: none;
    box-shadow: 0 0 8px rgba(0,123,255,0.5);
}

.feedback-input + .feedback-input {
    margin-top: 20px;
}

/* Buttons */
button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0,123,255,0.5);
}

button:disabled {
    background-color: #b3c2d1;
    cursor: not-allowed;
    opacity: 0.7;
}